.button-wrapper{
	width: 80%;
	margin: 0 auto;
    padding: 20px 0;
}
.a-btn{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:10px 30px 10px 70px;
    position:relative;
    display:block;
    margin:15px;
    background:#fff;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#fff,0),color-stop(#fff,1));
    background:-webkit-linear-gradient(top, #b7f2f4 0%, #fff 100%);
    background:-moz-linear-gradient(top, #b7f2f4 0%, #fff 100%);
    background:-o-linear-gradient(top, #b7f2f4 0%, #fff 100%);
    background:linear-gradient(top, #b7f2f4 0%, #fff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7f2f4', endColorstr='#fff',GradientType=0 );
    border:1px solid #90c6c8;
    border-color:#90c6c8 #78bdc0 #65b6ba;
    -webkit-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    -moz-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.a-btn-text{
    font-size:20px;
    color:#060707;
    text-shadow:0 1px 0 #bef3f5;
    line-height:16px;
    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
    display:block;
}
.a-btn-slide-text{
    font-family:Arial, sans-serif;
    font-size:10px;
    letter-spacing:1px;
    color:#555;
    text-shadow:0px 1px 1px rgba(255,255,255,0.9);
}
.a-btn:hover{
    -webkit-transform:scale(1.08);
    -moz-transform:scale(1.08);
    -ms-transform:scale(1.08);
    -o-transform:scale(1.08);
    transform:scale(1.08);
}
.a-btn:active{
    -webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -ms-transform:scale(0.95);
    -o-transform:scale(0.95);
    transform:scale(0.95);
    -webkit-box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
    -moz-box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
    box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
}
